<style>
    img {
        width:150px;
        height:150px;      
        top:50%;
        left:50%;      
        margin-left:10px;
        }

    .imagem {
        background-color:white;
        border-radius:100%;
        margin-top:10px;
        margin-left:30px;
        margin-right:30px;
        }

    i {
        position: absolute;  
        }
        
    .spanmenu {
        margin-left:30px;
        }

    .exit {
        width:20px;
        height:20px;  
        top:50%;
        left:50%;
        margin-left:10px;
        }

    .btn-xs{
        padding:1px 5px;
        font-size:12px;
        line-height:1.5;
        border-radius:3px
        }
</style>