<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>SIGEP | Sistemas de gestão de equipamentos para proteção policial </title>

<!-- Favicon-->
<link rel="icon" type="image/png" sizes="16x16" href="../img/sigeplogo2.png">

<!-- <link rel="icon" type="image/png" sizes="18x18" href="../img/oie_transparent.png"> -->

<!-- Bootstrap core CSS-->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template-->
<link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<!-- Page level plugin CSS-->
<link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="../css/sb-admin.css" rel="stylesheet">

<!-- Custom styles for icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

<!-- <script language="javascript">
    window.onbeforeunload = function() {
        return "";
        //return location.href="../validalogout.php";
    }
</script> -->

<script type="text/javascript">
    function validar() {
        var senha = formuser.senha.value;
        var rep_senha = formuser.csenha.value;

        if (document.getElementById('nome').value == '') {
            alert('Campo vazio, preencha antes de registrar!');
        } else if (document.getElementById('nome_funcional').value == '') {
            alert('Campo vazio, preencha antes de registrar!');
        } else if (document.getElementById('matricula').value == '') {
            alert('Campo vazio, preencha antes de registrar!');
        } else if (document.getElementById('email').value == '') {
            alert('Campo vazio, preencha antes de registrar!');
        } else if (document.getElementById('senha').value == '') {
            alert('Campo vazio, preencha antes de registrar!');
        } else if (document.getElementById('csenha').value == '') {
            alert('Campo vazio, preencha antes de registrar!');
        } else if (senha != rep_senha) {
            alert('Senha não são iguais, favor inserir novamente!');
            document.getElementById('senha').value='';
            document.getElementById('csenha').value='';
            formuser.senha.focus();
            return false;
        } else {
            alert('Usuário(a) cadastrado com sucesso!');
            window.location.href = "../../login.php";
        }
    }
</script>

</head>