<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sobre</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" align="justify">
                O Sistema de Gestão de Equipamentos para Proteção Policial (SIGEP) é um software de cadastro e
                gerenciamento de materiais bélicos e equipamentos de proteção individual (EPIs) presentes em cada
                organização policial militar (OPM), bem como o gerenciamento das cautelas¹ destes materiais pelos
                policiais de suas respectivas unidades.
                <br />
                <font size="2px">1. Termo militar que caracteriza a guarda temporária de patrimonio institucional.</font>
                <br /> <br />
                O <a href="https://github.com/rodrigoaggeu/GP3U" target="_blank">SIGEP</a>,
                foi desenvolvido como parte de requisito de nota para a disciplina de Gestão de Projetos por:
                <br />
                <br />
                <a href="https://github.com/silv4b" target="_blank">silv4b</a> (Bruno Silva)<br />
                <a href="https://github.com/rodrigoaggeu" target="_blank">rodrigoaggeu</a> (Rodrigo Aggeu)<br />
                <a href="https://github.com/vandersonfabio" target="_blank">vandersonfabio</a> (Vanderson Fábio)<br />
                <a href="https://github.com/isaacJose" target="_blank">isaacJose</a> (Isaac José)<br />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>