<!-- Bootstrap core JavaScript-->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../vendor/chart.js/Chart.min.js"></script>
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="../js/demo/datatables-demo.js"></script>
<script src="../js/demo/chart-area-demo.js"></script>

<!-- Masks -->
<script src="../js/jquery.mask.min.js"></script>
<script src="../js/main.js"></script>

<script src="vendor/bootstrap/js/main.js"></script>
<script src="vendor/bootstrap/js/jquery.mask.min.js"></script>

<script>
    $(document).ready(function(){
        $.ajax({
            url:"../atualizasessao.php",
            type:"post",
            success:function(response,status,request){
                console.log(response)
            }
        });
    });

    setInterval(function attbanco(){
        $.ajax({
            url:"../atualizasessao.php",
            type:"post",
            success:function(response,status,request){
                console.log(response)
            }
        });
    }, 5000);
</script>