<ul class="sidebar navbar-nav">
    <li>
      <div class="imagem">
      <img src="../img/sigeplogo.png">
      </div>                  
    </li>
    <li class="nav-item">
      <a class="nav-link" href="PrincipalView.php">
      <i class="material-icons">home</i>
        <span class="spanmenu">Principal</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="UnidadeView.php">
      <i class="material-icons">star</i>
        <span class="spanmenu">Unidades</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="SubunidadeView.php">
      <i class="material-icons">star_border</i>
        <span class="spanmenu">Subunidades</span>
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="PolicialView.php">
      <i class="material-icons">person</i>
        <span class="spanmenu">Policiais</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="ItemView.php">
      <i class="material-icons">storage</i>
        <span class="spanmenu">Itens</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="CautelaView.php">
      <i class="material-icons">attach_file</i>
        <span class="spanmenu">Cautelas</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="InspecaoView.php">
      <i class="material-icons">find_in_page</i>
        <span class="spanmenu">Inspeções</span>
      </a>
    </li>
</ul>
